form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.Form__title {
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
  gap: 2rem;
}

button {
  background-color: var(--color-nemo);
  color: var(--color-foam);
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  align-self: center;
  margin: 10px;
  font-weight: 700;
}

button:hover {
  background-color: var(--color-nemo-dark);
  cursor: pointer;
}

button:active {
  background-color: var(--color-nemo-mid);
}
